

body {
    font-family: 'Twoson';
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 23);
    font-size: 25px;
    padding: 20px 60px;
}

button {
    font-family: 'Twoson';
}

input {
    font-family: 'Twoson';
}

a, a:visited {
    color: rgb(199, 147, 255);
}

#interface {
    text-align: center;
}

#userListPanel {
    position: absolute;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    top: 200px;
}

#PlayersList {
    /* font-family: "Lucida Console"; */
    position: absolute;
    left: 110px;
    border: dashed;
    width: 350px;
    min-height: 130px;
    padding-left: 5px;
}

#ChasersList {
    position: absolute;
    left: 724px;
    border: dashed;
    width: 350px;
    min-height: 130px;
    padding-left: 5px;
}

ul {
    list-style-type: square;
    margin: 0px;
    padding-left: 30px;
}

#buzzer {
    position: relative;
    z-index: 1000;
}

#buzzerOptions img {
    width: 50px;
}

#buzzerOptions {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#message {
    position: absolute;
    font-size: 15px;
    top: 0px;
    left: 20px;
}

#egg {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 14px;
}

@media (max-width: 600px) {
    #userListPanel {
        top: 80px;
        width: 500px;
        margin-left: -250px;
        font-size: 11px;
    }
    #PlayersList {
        left: 0px;
        width: 120px;
    }
    #ChasersList {
        left: 370px;
        width: 120px;
    }
}

@font-face {
    font-family: 'Twoson';
    src: url('Twoson.eot');
    src: url('Twoson.eot?#iefix') format('embedded-opentype'),
        url('Twoson.woff2') format('woff2'),
        url('Twoson.woff') format('woff'),
        url('Twoson.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}