body {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 23, 23);
    font-size: 25px;
    padding: 20px 60px;
}

a, a:visited {
    color: rgb(199, 147, 255);
}

.interface {
    text-align: center;
}

#buzzerOptions img {
    width: 50px;
}

#buzzerOptions {
    position: absolute;
    bottom: 10px;
    left: 10px;
}